.container-items {
  display: flex;
  flex-wrap: wrap; /* Retour automatique à la ligne */
  gap: 20px; /* Espace entre les cartes */
  justify-content: center; /* Optionnel : centre */
}

.games-card {
  width: 300px; /* Taille fixe de ton image */
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

.games-card:hover {
  transform: scale(1.05); /* Zoom léger */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre portée */
}